top {
  width: 100%;
}

.button {
  display: flex;
  font-size: 8px;
  margin-bottom: 15px;
  background-color: pink;
}

.nav {
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}

.nav2 {
  width: 40px;
  display: flex;
  position: absolute;
  right: 0;
}

.nav2text {
  color:green;
  position: absolute;
  right: 50px;
}

.linknav {
  text-decoration: none;
}

body {
	font-family: Arial, sans-serif;
	background: #999aaa;
	margin: 0;
}

.images {
  margin: 10px;
  border: solid;
  border-style: ridge;
  border-width: 10px;
  border-color: brown;
  background-color: gray;
}

.collections {
  font-size: 25px;
  flex-wrap: row;
  margin: 5px;
}

.items {
  margin-left: -20px;
}

.img {
  position: relative;
  width: 100px;
}

.linkitem {
  text-decoration: none;
}

.figcaption {
  position: relative;
  padding: 4px;
  font-size: 10px;
  text-align: center;
  color: white;
  background-color: rgb( 0 0 0 / 40% );
}

.citlali:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}

.citlali {
  width: 100px;
  transition: transform 0.2s ease;
}